/******
Allison custom css for exploring-na tutorial
*******/

body {
  background-color: rgb(224, 235, 235);
  font-family: Muli;
  font-size: 14;
}

em {
    font-family: Arvo;
    color: slategrey;
}

.ace-tm {
    background-color: seashell;
    color: black;
}

.panel, pre {
    border-radius: 0;
    border-color: #e0e0e0;
    background-color: seashell;
}

.panel-default > .panel-heading {
    color: #555555;
    background-color: seashell;
    border-color: #dddddd;
}

.topicsList .topic {
    font-family: Arvo;
    line-height: 40px;
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 2px 80px;
    background-position: left 100%;
        background-position-y: 100%;
    background-image: url(images/topicProgress.png);
    border-bottom: 1px solid teal;
    -webkit-transition-property: background-position;
    transition-property: background-position;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.topicsList .topic.current {
    font-family: Arvo;
    background-color: orange;
    color: seashell;
    border: 0px;
}

code {
    color: #404040;
    background-color: seashell;
}

a {
    color: #e65c00;
    text-decoration: none;
}

.btn-primary, .btn-success, .btn-info {
    color: seashell;
    background-color: orange;
    background-image: none;
    border: none;
    font-family: Arvo;
}

.btn-default {
    color: seashell;
    background-color: orange;
    background-image: none;
    border: none;
    font-family: Arvo;
}

h2 {
  color: teal;
  font-family: Arvo;
}

h3 {
  color: teal;
  font-family: Arvo;
}

h4 {
  color: teal;
  font-family: Arvo;
}


